h1{
    text-align: center;
}

.chicken {
    background-color: aqua;
    width: 15em;
    height: 12em;
    position: absolute;
    left: 20px;
    border-style: outset;
    border-color: black;

}

.beef {
    background-color: aqua;
    width: 15em;
    height: 12em;
    position: absolute;
    left: 280px;
    border-style: outset;
    border-color: black;
}

.sushi {
    background-color: aqua;
    width: 15em;
    height: 12em;
    position: absolute;
    left: 540px;
    border-style: outset;
    border-color: black;
}

h3 {
    text-align: right;
    background-color:beige;
    width: 6em;
}
